.user-show-main {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5vh 0;
}

.user-show-top {
  height: 200px;
  width: 50vw;
  min-width: 600px;
  display: flex;
  justify-content: space-between;
}

.user-show-name {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 15px;
}

.show-count {
  display: flex;
}

.counts {
  display: flex;
}

.count {
  font-size: 16px;
  font-weight: bold;
  margin-right: 8px;
}

.count-link {
  color: black;
  display: block;
}

.aa {
  color: gray;
  margin-top: 3px;
  font-size: 13px;
  font-weight: 400;
  padding-right: 8px;
  margin-right: 8px;
  border-right: 1px solid gray;
}

.user-follow {
  margin-top: 30px;
}

.follow-btn {
  color: red;
  border: 1px solid red;
  border-radius: 5px;
  padding: 10px 20px;
}